Django==2.2.26
dj-database-url==0.4.1
django_extensions==1.6.7
djangorestframework==3.12.4
django-filter>=2.4.0
django-celery-beat==2.2.1
django-redis==4.7.0
django-pglocks
Pillow==9.0.0
whitenoise==3.2.2
gunicorn==19.5.0
psycopg2==2.8.* --no-binary psycopg2
raven==6.10.0
celery[redis]>=5.2.2
requests[security]==2.25.1
elasticsearch-dsl==7.3.0
waitress==1.4.3
beautifulsoup4==4.6.0
sigauth==4.3.0
directory-healthcheck==2.0.0
cryptography==3.3.2
urllib3>=1.26.5
django-environ==0.4.5
