Django==1.11.29
dj-database-url==0.4.1
django_extensions==1.6.7
djangorestframework==3.11.2
django-filter==1.0.4
django-celery-beat==1.0.1
django-redis==4.7.0
django-pglocks
Pillow==7.1.0
whitenoise==3.2.2
gunicorn==19.5.0
psycopg2==2.7.3.2
raven==5.19.0
celery[redis]==4.2.1
requests[security]==2.21.0
elasticsearch-dsl==7.3.0
waitress==1.4.3
beautifulsoup4==4.6.0
gevent==1.2.2
sigauth
directory-healthcheck==1.0.1
cryptography==3.3.2
urllib3>=1.24.2<2.0.0
django-environ==0.4.5
