Django>=2.2.24
dj-database-url==0.4.1
django_extensions==1.6.7
djangorestframework==3.11.2
django-filter==1.0.4
django-celery-beat==2.2.0
django-redis==4.7.0
django-pglocks
Pillow==8.2.0
whitenoise==3.2.2
gunicorn==19.5.0
psycopg2==2.7.3.2
raven==5.19.0
celery[redis]==5.1.2
requests[security]==2.25.1
elasticsearch-dsl==7.3.0
waitress==1.4.3
beautifulsoup4==4.6.0
gevent==1.2.2
sigauth==4.3.0
directory-healthcheck==2.0.0
cryptography==3.3.2
urllib3>=1.26.5
django-environ==0.4.5
